{% extends 'base.html' %}

{% block header %}
    <h3 class="text-center">{% block title %} Registration {% endblock %}</h3>
{% endblock %}


{% block content %}
    <div class="container">
        <form action="" method="post">
        <div class="form-group row">
            <label for="username" class="col-sm-2 col-form-label">Username</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="username" name="username" placeholder="username">
            </div>
        </div>

        <div class="form-group row">
            <label for="password" class="col-sm-2 col-form-label">password</label>
            <div class="col-sm-10">
                <input type="password" class="form-control" id="password" name="password" >
            </div>
        </div>

        <div class="form-group row">
            <label for="confirm_password" class="col-sm-2 col-form-label">Confirm Password</label>
            <div class="col-sm-10">
                <input type="password" class="form-control" id="confirm_password" name="confirm_password" >
            </div>
        </div>

        <div class="form-group row">
            <div class="col-sm-10">
                <button type="submit" class="btn btn-primary">Register me</button>
            </div>
        </div>
        </form>
    </div>


{% endblock %}