<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'custom.css') }}">
</head>
<body>
<nav>
    <h1>Strasse-Stores</h1>
    <ul>
        {% if g.seller %}
            <li><span>{{ g.seller['username'] }}</span>
            <li><a href="{{ url_for('authentication.logout') }}">Log Out</a>
        {% else %}
            <li><a href="{{ url_for('authentication.login') }}">Log In</a>
            <li> <a href="{{ url_for('authentication.registration') }}"> Register here</a>
        {% endif %}
    </ul>
</nav>

<section class="content">

</section>

</body>
</html>